body {
	font-family: Arial;
}

p {
	font-size: 20px;
}

span {
	font-size: .5em;
}

p {
	font-weight: lighter;
	text-align: right;

}

h1 {
	text-align: center;
}

p+p {
	line-height: .2;
}