img {
	width:30%;
	float:left;
	margin:1.66%;
	/*width:23%;
	float:left;
	margin:1%;*/
}

p {
	margin-left: 1.66%;
	margin-right: 1.66%;
	font-size: 24px;
	font-family: Raleway;
	text-transform: uppercase;
	font-weight: 900;
	border-bottom: 2px solid #f1f1f1;
	padding-bottom: 20px;

}